d 
    p Welcome to the Shop
    a(href='/basket') Basket

ul#product-list
    each product in products
        li#product
        p= product.name
        p £#{product.price}
        form(method='POST' action='/cart/add')
            input(name='product_id' type='hidden' value=product.id)
            button +